{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.6"]
                [nrepl "1.0.0"]
                [reagent "1.1.1"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [frajure.core]}}
                      :devtools   {:after-load frajure.core/mount-root}}
                :test {:target     :node-test
                       :output-to  "test-output.txt"
                       :asset-path "/js"
                       :modules    {:app {:entries [frajure.core]}}
                       :devtools   {:after-load frajure.core/mount-root}
                       :ns-regexp  ".*"
                       :autorun    true}}

 :dev-http     {3000 {:root "public"}}}
